
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Homepage</title>
    <style>
        .padding-top {
            padding-top: 20px;
        }
    </style>
</head>
<body>
    <div>Choose your parameters</div>
    <div class="padding-top">
        @using(Html.BeginForm("MovetoQuiz", "Home"))
        {
        @Html.DropDownList("QuizzField", new List<SelectListItem> { new SelectListItem { Text = "Any", Value = "Any" }, new SelectListItem { Text = QRefTrain3.Models.QuestionField.Beater.ToString(), Value = QRefTrain3.Models.QuestionField.Beater.ToString() }, new SelectListItem { Text = QRefTrain3.Models.QuestionField.Chaser.ToString(), Value = QRefTrain3.Models.QuestionField.Chaser.ToString() }, new SelectListItem { Text = QRefTrain3.Models.QuestionField.Contact.ToString(), Value = QRefTrain3.Models.QuestionField.Contact.ToString() }, new SelectListItem { Text = QRefTrain3.Models.QuestionField.Seeker.ToString(), Value = QRefTrain3.Models.QuestionField.Seeker.ToString() }, new SelectListItem { Text = QRefTrain3.Models.QuestionField.Other.ToString(), Value = QRefTrain3.Models.QuestionField.Other.ToString() } })
        @Html.DropDownList("QuizzDifficulty", new List<SelectListItem> { new SelectListItem { Text = QRefTrain3.Models.QuestionDifficulty.Basic.ToString(), Value = QRefTrain3.Models.QuestionDifficulty.Basic.ToString() }, new SelectListItem { Text = QRefTrain3.Models.QuestionDifficulty.Advanced.ToString(), Value = QRefTrain3.Models.QuestionDifficulty.Advanced.ToString() } })
         <input type="submit" value="Start the quizz" />
        }
    </div>
    
    
</body>
</html>
