
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Homepage</title>
    <style>
        .padding-top {
            padding-top: 20px;
        }
    </style>
</head>
<body>
    <div>Choose your parameters</div>
    <div class="padding-top">
        @using (Html.BeginForm("MovetoQuiz", "Home"))
        {
            List<SelectListItem> fields = new List<SelectListItem>();
            foreach (QRefTrain3.Models.QuestionField item in Enum.GetValues(typeof(QRefTrain3.Models.QuestionField)))
            {

                fields.Add(new SelectListItem() { Text = item.ToString(), Value = item.ToString() });
            }
            fields.Add(new SelectListItem() { Text = "Any", Value = "Any" });

            List<SelectListItem> difficulties = new List<SelectListItem>();
            foreach (QRefTrain3.Models.QuestionDifficulty item in Enum.GetValues(typeof(QRefTrain3.Models.QuestionDifficulty)))
            {
                difficulties.Add(new SelectListItem() { Text = item.ToString(), Value = item.ToString() });
            }

            @Html.DropDownList("QuizzField", fields, new { @id = "QuizzField" });
            @Html.DropDownList("QuizzDifficulty", difficulties, new { @id = "QuizzDifficulty" });
            <input type="submit" value="Start the quizz" />
        }
    </div>
</body>
</html>
