@model QRefTrain3.ViewModel.ResultViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuizResult</title>
</head>
<body>
    @Html.Partial("_ResultDetail", Model)
    @using(Html.BeginForm("Homepage", "Home"))
    {
        <input type="submit" value="Return to Home" class="btn-lg btn-primary QuizzValidationButton"/>
    }
    <div class="bigBottomPadding"></div>
</body>
</html>
