@model QRefTrain3.Models.Result

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuizResult</title>
</head>
<body>

    <div>
        Result : @Model.GoodAnswersIds.Count / @Model.QuestionsAskedIds.Count
        @if(User.Identity.IsAuthenticated)
        {
            @:<br />Your result were registered
        }
    </div>

    <div>
        @foreach(int id in Model.QuestionsAskedIds)
        {
            <div>Question @id was @(Model.GoodAnswersIds.Contains(id) ? "True" : "False")</div>
        }
    </div>
    @using(Html.BeginForm("Homepage", "Home"))
    {
        <input type="submit" value="Return to Home" />
    }
</body>
</html>
