@model List<QRefTrain3.ViewModel.ResultViewModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
</head>
<body>

    <div class="small-title">Your last ten results</div>

    <table class="table-striped small-table">
        <thead>
            <tr>
                <th class="col-md-1">Date</th>
                <th class="col-md-1">Score</th>
                <th class="col-md-1">Passed</th>
                <th class="col-md-1">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach(QRefTrain3.ViewModel.ResultViewModel result in Model)
            {
                <tr>
                    <td>@result.DateTime.ToString("dd/MM/yy")</td>
                    <td>@result.GetNumberGoodAnswer() / @result.QuestionsAsked.Count</td>
                    <td><img src="~/Elements/@(((float)result.GetNumberGoodAnswer())/((float)result.QuestionsAsked.Count) >= 0.8 ? "goodAnswer" : "badAnswer").jpg" height="30" width="30" /></td>
                    <td>@Html.ActionLink("Details", "DisplayResultDetails", new { id = result.Id })</td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>
