@model QRefTrain3.ViewModel.ResultViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResultDetail</title>
</head>
<body>
    @Html.Partial("_ResultDetail", Model)

    <div>@Html.ActionLink("Return to Profile", "DisplayProfile")</div>
</body>
</html>
