body {
    padding-top: 30px;
    font-family: Verdana;
}

/* Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}  */

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*==========================Shared========================*/

html {
    height: 100%;
}

body {
    min-height: 80%;
}

.field-validation-error {
    color: red;
}

footer {
    position: absolute;
    bottom: 10px;
    min-width: 100%;
}

.footerText {
    font-size: small;
    margin-left: 15px;
}

/*============================Top layer===============================*/
.topRightLink {
    float: right;
}

.topRightImage {
    float: right;
}

.topitem {
    margin-bottom: 15px
}

/*================================Quiz=================================*/

.QuizzQuestion {
    margin: auto;
    max-width: 800px;
    margin-bottom: 40px;
}

.QuizzQuestionTitle {
    font-size: large;
    text-decoration: underline;
    text-align: left;
    padding-bottom: 20px;
}

.QuizzQuestiontext {
    font-size: medium;
    text-align: center;
    padding-bottom: 15px;
}

.QuizzQuestionVideo {
    position: absolute;
    width: 100%;
    height: 100%;
}

.QuizzQuestionVideoContainer {
    position: relative;
    width: 669px;
    height: 376px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.RadioButtonAnswer {
    font-size: medium;
    display: inline-block;
    width: 80%;
    height: 20px;
    word-wrap: break-word;
}

.RadioButtonAnswers {
    text-align: left;
    padding-top: 30px;
}

/*================================hiddenInformations=================================*/
.hiddenInformations {
    display: none;
}
/*======================================================Profile==========================================*/
.small-table {
    max-width: 50%;
}

.small-title {
    font-size: medium;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*======================================================Result Detail===============================================*/
.goodAnswer {
    background-color: palegreen;
    border-color: green;
}

.badAnswer {
    background-color: #EAB6B6;
    border-color: red;
}

.answer {
    border-style: groove;
    padding: 3px;
    width: 500px;
}

.table-striped th {
    text-align: center
}

.table-striped td {
    text-align: center
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container > div {
    margin: 10px;
    padding: 5px;
}

.answer > img {
    margin-right: 5px;
}