body {
    padding-top: 30px;
    font-family: Verdana;
}

/* Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}  */

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*==========================Shared========================*/

html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.field-validation-error {
    color: red;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

.footerText {
    font-size: small;
    margin-left: 15px;
}

/*============================Top layer===============================*/
.topRightLink {
    float: right;
}

.topRightImage {
    float: right;
}

.bottomMargin {
    margin-bottom: 15px
}

/*================================Quiz=================================*/

.QuizzQuestion {
    margin: auto;
    max-width: 90%;
    margin-bottom: 40px;
}

.QuizzQuestionTitle {
    font-size: large;
    text-decoration: underline;
    text-align: left;
    padding-bottom: 20px;
}

.QuizzQuestiontext {
    text-align: center;
    padding-bottom: 15px;
}

.QuizzQuestionVideo {
    position: absolute;
    width: 100%;
    height: 100%;
}

.QuizzQuestionVideoContainer {
    position: relative;
    width: 669px;
    height: 376px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.RadioButtonAnswer {
    font-size: medium;
    display: inline-block;
    width: 80%;
    height: 20px;
    word-wrap: break-word;
}

.RadioButtonAnswers {
    text-align: left;
    padding-top: 30px;
}

/*================================hiddenInformations=================================*/
.hiddenInformations {
    display: none;
}
/*======================================================Profile==========================================*/
.small-table {
    max-width: 50%;
}

.small-title {
    font-size: medium;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*======================================================Result Detail===============================================*/
.greenBack {
    background-color: palegreen;
    border-color: green;
}

.redBack {
    background-color: #EAB6B6;
    border-color: red;
}

.greyBack {
    background-color: #e5e2e2;
    border-color: lightgray;
}

.answer {
    border-style: groove;
    border-radius: 15px;
    width: 500px;
}

.table-striped th {
    text-align: center
}

.table-striped td {
    text-align: center
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

    .flex-container > div {
        margin: 10px;
        padding: 5px;
    }

    .flex-container > h5 {
        margin: 10px;
        padding: 5px;
    }

.answer > img {
    margin-right: 5px;
}

/*========Secondary (black) button=========*/
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.61);
}

    .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus {
    }

.btn-secondary:focus, .btn-secondary.focus {
    box-shadow: none;
}

/*========Light (white) button=========*/
.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.61);
}

    .btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus {
    }

.btn-light:focus, .btn-light.focus {
    box-shadow: none;
}
/*==================================*/

.btn-group-toggle {
    margin-bottom: 10px;
}

    .btn-group-toggle > .btn, .btn-group-toggle > .btn-group > .btn {
        margin-right: 5px;
        margin-bottom: 5px;
    }

.shortLabel {
    width: 140px;
}

.longLabel {
    width: 49%;
}

@media (max-width: 1200px) {

    .longLabel {
        width: 100%;
    }
}

.QuizzValidationButton {
    float:right;
    margin-right: 30px;
    margin-top: 20px;
}

.bigBottomPadding{
    padding-bottom: 100px;
}
