@model List<QRefTrain3.Models.Log>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    @using (Html.BeginForm("Export", "Admin"))
    {
        <input type="submit" value="Export" class="btn btn-primary" />
    }

    @using (Html.BeginForm("Import", "Admin"))
    {
        <input type="submit" value="Import" class="btn btn-primary" />
    }

    @using (Html.BeginForm("ImportFromGoogleDrive", "Admin"))
    {
        <input type="submit" value="ImportFromGoogleDrive" class="btn btn-primary" />
    }
    </hr>
    <table id="trainingResultTable" class="table-striped">
        <thead>
            <tr>
                <th class="col-md-1">LogTime</th>
                <th class="col-md-1">LogText</th>
                <th class="col-md-1">UserId</th>
            </tr>
        </thead>
        <tbody>
            @foreach (QRefTrain3.Models.Log log in Model)
            {
            <tr>
                <td>@log.LogTime</td>
                <td>@log.LogText</td>
                @if (log.User != null)
                {
                    <td>@log.User.Name</td>
                }
            </tr>
            }
        </tbody>
    </table>
</body>
</html>