<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    @using (Html.BeginForm("Export", "Admin"))
    {
        <input type="submit" value="Export" class="btn btn-primary" />
    }

    @using (Html.BeginForm("Import", "Admin"))
    {
        <input type="submit" value="Import" class="btn btn-primary" />
    }

    @using (Html.BeginForm("ImportFromGoogleDrive", "Admin"))
    {
        <input type="submit" value="ImportFromGoogleDrive" class="btn btn-primary" />
    }
</body>
</html>