<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateAccount</title>
    @Styles.Render("~/Content/Site.css")
</head>
<body>
    <div>
        @QRefResources.Resource.CreateAccount_CreationConfirmation
        @Html.ActionLink("Back to home page.", "HomePage", "Home", new { area = "" }, null)
    </div>
</body>
</html>
