<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateAccount</title>
    @Styles.Render("~/Content/Site.css")
</head>
<body>

    @using (Html.BeginForm("SendResetCode", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.Label(Resources.Resource.Resetpassword_Prompt, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBox("mailBox", null, new { @class = "form-control" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Submit" />
            </div>
        </div>
    }
</body>
</html>
