<!DOCTYPE html>

<html>
<body>
    <div>
        @Resource.Resource.CreateAccount_ValidationConfirmation
        @Html.ActionLink("Back to home page.", "HomePage", "Home", new { area = "" }, null)
    </div>
</body>
</html>
